/* marquee animation */
.marquee_compo{

}
.marquee_compo .marquee{
  display: flex;
  gap: 1rem;
  white-space: nowrap;
}
.marquee_compo .marquee[data-direction=right]{
  flex-direction: row-reverse;
}
/* marquee animation END */


/* fade animation */
.anim.fade{
  transform: translateY(10%);
  opacity: 0.1;
  transition: opacity 0.5s ease,
  transform 0.5s ease;
}
.anim.fade.show{
  transform: translateY(0);
  opacity: 1;
}
/* fade animation END */


/* splitText animation */
.splitText{
  width: max-content;
}
.splitText > span{
  display: inline-block;
}
.split_parent{
  overflow: hidden;
}
.split_child {
  display: inline-block;
}
/* splitText animation END */



/* hover opacity animation */
.hov_opacity{
  opacity: 1;
  transition: opacity 0.3s ease;
}
.hov_opacity:hover{
  opacity: 0.6;
}
/* hover opacity animation END */