.bg_purple{background-color: #e9e6f0;}
.dummy_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: rgba(0,0,0,0.75);
  background-color: rgba(255,255,255,0.3);
  border: 1px solid #fff;
}

#guide{
  position: relative;
  min-height: calc(100vh - 100px);
  background-color: #F6F6F6;

  .deco{
    position: fixed;
    width: 100%; height: 100%;
    z-index: 0;

    &.sub{opacity: 0.4}

    span:nth-child(1){
      display: block;
      position: absolute;
      left: 200px; top: -20px;
      width: 890px;
      height: 890px;
      border-radius: 445px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 235, 205, 0.59) 0%, rgba(217, 217, 217, 0.59) 100%);
      filter: blur(125px);
      opacity: 0.3;
    }
    span:nth-child(2){
      position: fixed;
      z-index: 2;
      bottom: -400px;
      right: -200px;
      width: 1000px;
      height: 1000px;
      border-radius: 445px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(173, 228, 255, 1) 0%, rgba(217, 217, 217, 0.60) 100%);
      filter: blur(125px);
    }
    span:nth-child(3){
      position: fixed;
      bottom: -200px;
      right: 0;
      width: 1000px;
      height: 1000px;
      border-radius: 445px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(89, 116, 211, 10) 0%, rgba(217, 217, 217, 0.60) 100%);
      filter: blur(125px);
    }
  }
}

.pf_inner{
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}
.pf_hd{
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background-color: #F6F6F6;
  backdrop-filter: blur(5px);
  background: rgba(246, 246, 246, 0.05);

  .logo{
    width: 82px;
  }

  nav{
    margin-left: auto;
    ul{
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
.pf_cont{
  display: block;
  position: relative;
  z-index: 10;
  min-height: calc(100vh - 100px);
  &:not(.index){
    padding-top: 200px;
  }

  .main_video{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4
  }
  .main_txt{
    position: absolute;
    top: calc(50% - 40px); left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 40px);
    max-width: max-content;

    .txt{
      font-size: 160px;
      font-weight: 500;
      line-height: 100%;
      color: #202020;
      text-align: center;

      span,strong{
        font-family: Playfair Display;
      }
      span:first-of-type{
        display: inline-block;
      }
      span:last-of-type{
        display: block;
      }
    }
    em{
      color: #202020;
    }
  }
  .link_arrow{
    margin: 100px auto 0;
    width: max-content;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .link_arrow a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 80px;
    margin-top: 40px;
    transition: width 0.4s ease-in-out;
    i{
      display: block;
      width: 100px;
      height: 100%;
      background: url("../img/guide/ico_arrow_b.svg") no-repeat center / cover;
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover{
      width: 640px;
      i{opacity: 1}
    }
  }
}
.pf_ft{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;
  width: 100%;
  height: 100px;
  background-color: #F6F6F6;
  backdrop-filter: blur(5px);
  background: rgba(246, 246, 246, 0.05);
}

.pf_nav{
  position: sticky;
  top: 200px;
  left: 0;
  height: 100%;
  background-color: red;
  border-radius: 10px;
  background-color: rgba(246, 246, 246, 0.2);
  backdrop-filter: blur(5px);
  padding: 30px 14px;

  .sub button{
    display: block;
    padding-left: 10px;
    border-left: 1.5px solid rgba(32, 32, 32, 0.1);
    color: #20262c;
    transition: border-color 0.2s ease-in-out;
    &:not(:last-child){margin-bottom: 12px}
    &:hover{border-color: rgba(32, 38, 44, 0.4)
    }
    &.active{
      border-color: #20262c;
    }
  }
}
.pf_desc{
  position: relative;
  z-index: 10;
  padding-left: 40px;

  article{
    padding: 60px 0;
  }
  .pf_tag{
    padding: 4px 10px;
    border-radius: 40px;
    background-color: #20262c;
    color: #F2F3F4;
    width: max-content;
  }
}
.pf_table{
  border-collapse: collapse;

  tr{
    line-height: 2;
    border-bottom: 1px solid rgba(209, 202, 202, 0.45);
  }
  th{
    text-align: left;
    font-weight: 600;
    color: #20262c;
    padding: 5px 0;
  }
  td{
    font-weight: 300;
    text-align: left;
    color: #20262c;
    padding: 5px 0;
  }
  .class{color: #009d87;}
  .attribute{color: #1e76e9;}
}
.scroll_btn{
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
  position: absolute;
  right: 100px;
  bottom: 120px;
  z-index: 10;
  font-size: 16px;
   font-weight: 700;
   text-align: center;
  &:before{
    background: url(https://wever.kr/assets/images/common/scroll_arrow.svg) no-repeat 50% / cover;
    content: "";
    display: block;
    height: 60px;
    margin: 12px auto;
    position: relative;
    width: 48px;
    transform: rotate(180deg);
    transition: transform .25s ease-in-out;
  }
  &:hover:before{
    transform: rotate(180deg) translateY(-15%);
  }
}

.test_box{
  position: relative;
  width: 200px; height: 200px;
  background-color: #c6deff;

  > span{
    position: absolute;
    &:nth-child(1){top: -20px; left: 50%; transform: translateX(-50%);}
    &:nth-child(2){right: -50px; top: 50%; transform: translateY(-50%);}
    &:nth-child(3){bottom: -20px; left: 50%; transform: translateX(-50%);}
    &:nth-child(4){left: -50px; top: 50%; transform: translateY(-50%);}

  }
  .margin_box{
    position: absolute;
    background-color: #f9f9f9;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }
}

.example_cont {
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(209, 202, 202, 0.45);
  border-radius: 8px;
}
