<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="WV"/>
  <meta name="keyword" content="WV" />
  <title>WV GUIDE</title>

  <link rel="icon" type="image/svg+xml" href="../../../assets/img/wever_favicon.svg" />

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="guide">
  <div class="deco sub"><span></span><span></span><span></span></div>
  <header class="pf_hd">
    <div class="pf_inner">
      <h1 class="logo">
        <a href="../../index.html"><img src="../../assets/img/common/logo_b.svg" alt="wever 로고"></a>
      </h1>
      <nav>
        <ul>
          <li><a href="../guides/guide.html" class="fs_14 fw_semibold hov_opacity">Docs</a></li>
          <li><a href="./compo.html" class="fs_14 fw_semibold hov_opacity">Component</a></li>
          <li><a href="../admin/adm.html" class="fs_14 fw_semibold hov_opacity" target="_blank">Admin</a></li>
          <li><a href="#" class="fs_14 fw_semibold hov_opacity">Icons</a></li>
          <li><a href="../projects/list.html" class="fs_14 fw_semibold hov_opacity">Projects</a></li>
          <li><a href="#" class="fs_14 fw_semibold hov_opacity">Download</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="pf_cont">
    <div class="pf_inner">
      <div class="wv_row w_100">
        <aside class="pf_nav wv_col_2">
          <h2 class="fs_16 fw_semibold pb_20">Component</h2>
          <div class="sub">
            <button type="button" class="fs_14 fw_regular active">Scroll Button</button>
            <button type="button" class="fs_14 fw_regular">Target Button</button>
            <button type="button" class="fs_14 fw_regular">Menu Button</button>
            <button type="button" class="fs_14 fw_regular">Modal</button>
            <button type="button" class="fs_14 fw_regular">Accordion</button>
            <button type="button" class="fs_14 fw_regular">Tab</button>
          </div>
        </aside>
        <div class="pf_desc wv_col_10">
          <section>
            <article>
              <p class="fs_14 fw_regular pf_tag">Component</p>
              <h3 class="fs_28 fw_bold mb_40 mt_4">Scroll Button</h3>
              <p class="fs_16 fw_medium mt_40 lih150per">
                페이지에 하단이나 최상단 혹은 특정 위치로 이동할 수 있는 버튼입니다. <br>
                button 태그에 data-scr 속성을 추가하여 스크롤 방향을 지정할 수 있습니다. <br>
                data-scr 속성에 up을 입력하면 스크롤을 위로, down을 입력하면 스크롤을 아래로 이동합니다. <br>
                class에 scr_btn을 추가하여 스크롤 버튼을 사용할 수 있습니다. <br>
                특정 위치로 이동할 경우 data-scr 속성에 이동할 위치의 id 값을 입력합니다.
              </p>

              <div class="wv_col_12">
                <div class="example_cont mt_40">
                  <div class="btn_wrap  dp_f al_center gap20">
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="scr_btn " data-scr="up"></button>
                      <span>Scroll Up</span>
                    </div>
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="scr_btn " data-scr="down"></button>
                      <span>Scroll Down</span>
                    </div>
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="scr_btn " data-scr="accordion_anc"></button>
                      <span>Scroll Down</span>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <p class="fs_14 fw_regular pf_tag">Component</p>
              <h3 class="fs_28 fw_bold mb_40 mt_4">Target Button</h3>
              <p class="fs_16 fw_medium mt_40 lih150per">
                지정한 id 값을 가진 태그에 on 클래스를 추가하여 해당 태그를 활성화하는 버튼입니다. <br>
                button 태그에 data-target 속성을 추가하여 활성화할 태그의 id 값을 입력합니다. <br>
                class에 wv_target_btn을 추가하여 타겟 버튼을 사용할 수 있습니다.
              </p>

              <div class="wv_col_12">
                <div class="example_cont mt_40">
                  <div class="btn_wrap  dp_f al_center gap20">
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="wv_target_btn" data-target="target1">Target 1 버튼</button>
                    </div>
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="wv_target_btn" data-target="target2">Target 2 버튼</button>
                    </div>
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="wv_target_btn" data-target="target3">Target 3 버튼</button>
                    </div>
                  </div>
                  <div class="target_wrap mt_40">
                    <div id="target1" class="target_box">Target 1</div>
                    <div id="target2" class="target_box">Target 2</div>
                    <div id="target3" class="target_box">Target 3</div>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <p class="fs_14 fw_regular pf_tag">Component</p>
              <h3 class="fs_28 fw_bold mb_40 mt_4">Modal</h3>
              <p class="fs_16 fw_medium mt_40 lih150per">
                모달 팝업을 사용할 수 있는 컴포넌트입니다. <br>
                button 태그에 data-modal 속성을 추가하여 모달을 활성화할 수 있습니다. <br>
                data-modal 속성에 modal id 값을 입력하면 모달을 활성화합니다. <br>
                class에 wv_modal_btn을 추가하여 모달 버튼을 사용할 수 있습니다. <br><br>
                dialog 태그에 wv_modal 클래스를 추가하여 모달을 사용할 수 있습니다. <br>
                모달 내부에 닫기 버튼을 추가하려면 button 태그에 wv_modal_btn, close_modal 클래스와 data-modal 속성에 modal id 값을 입력합니다. <br><br>
                모달 내부에 닫기 버튼에 close_modal 버튼을 넣지 않고 data-modal 속성에 다른 modal id 값을 입력하면 현재 모달이 닫히고 다른 모달이 활성화 됩니다.
              </p>
              <div class="wv_col_12">
                <div class="example_cont mt_40">
                  <div class="btn_wrap  dp_f al_center gap20">
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="wv_modal_btn" data-modal="modal1">모달 버튼</button>
                    </div>
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="wv_modal_btn" data-modal="modal2">멀티 모달 버튼</button>
                    </div>
                    <div class="dp_f fd_col al_center gap10">
                      <button type="button" class="youtube_video wv_modal_btn" data-modal="modal3" data-youtube="https://www.youtube.com/watch?v=r6jOMJk9pOY">유튜브 모달 버튼</button>
                    </div>
                  </div>

                  <dialog class="wv_modal" id="modal1">
                    모달
                    <button type="button" class="wv_modal_btn close_modal" data-modal="modal1">닫기</button>
                  </dialog>
                  <dialog class="wv_modal" id="modal2">
                    멀티 모달
                    <button type="button" class="wv_modal_btn " data-modal="modal1">닫기</button>
                  </dialog>
                  <dialog class="wv_modal" id="modal3">
                    <iframe src="" frameborder="0"></iframe>
                    <button type="button" class="wv_modal_btn close_modal" data-modal="modal3">닫기</button>
                  </dialog>
                </div>
              </div>
            </article>
            <article id="accordion_anc">
              <p class="fs_14 fw_regular pf_tag">Component</p>
              <h3 class="fs_28 fw_bold mb_40 mt_4">Accordion</h3>
              <p class="fs_16 fw_medium mt_40 lih150per">
                아코디언 컴포넌트입니다. <br>
                button 태그에 wv_accordion_btn 클래스를 추가하여 아코디언 버튼을 사용할 수 있습니다. <br>
                ul 태그에 wv_accordion_cont 클래스를 추가하여 아코디언 내용을 사용할 수 있습니다. <br>
                아코디언 버튼을 클릭하면 해당 내용이 활성화 됩니다.
              </p>
              <div class="example_cont mt_40">
                <ul class="wv_accordion">
                  <li>
                    <button type="button" class="wv_accordion_btn">Accordion 1</button>
                    <div class="wv_accordion_cont">
                      <p>Accordion 1 내용</p>
                    </div>
                  </li>
                  <li>
                    <button type="button" class="wv_accordion_btn">Accordion 2</button>
                    <div class="wv_accordion_cont">
                      <p>Accordion 2 내용</p>
                    </div>
                  </li>
                  <li>
                    <button type="button" class="wv_accordion_btn">Accordion 3</button>
                    <div class="wv_accordion_cont">
                      <p>Accordion 3 내용</p>
                    </div>
                  </li>
                </ul>
              </div>
            </article>
            <article>
              <p class="fs_14 fw_regular pf_tag">Component</p>
              <h3 class="fs_28 fw_bold mb_40 mt_4">Tab</h3>
              <p class="fs_16 fw_medium mt_40 lih150per">
                탭 컴포넌트입니다. <br>
                button 태그에 wv_tab_btn 클래스를 추가하여 탭 버튼을 사용할 수 있습니다. <br>
                div 태그에 wv_tab 클래스를 추가하여 탭 내용을 사용할 수 있습니다. <br>
                data-default 속성을 추가하여 기본으로 활성화할 탭을 지정할 수 있습니다. ( 0번부터 시작합니다 )<br>
                data-default 속성을 추가하지 않았을 때는 기본으로 첫 번째 탭이 활성화 됩니다. <br><br>

                탭 내부에 서브 탭을 사용할 경우 div 태그에 wv_tab 클래스를 추가하고 data-default 속성을 추가하여 기본으로 활성화할 서브 탭을 지정할 수 있습니다. ( 0번부터 시작합니다 )<br>
              </p>

              <div class="example_cont mt_40">
                <div class="wv_tab" data-default="">
                  <div class="tab_btn_wrap">
                    <button type="button" class="wv_tab_btn">Tab 1</button>
                    <button type="button" class="wv_tab_btn">Tab 2</button>
                    <button type="button" class="wv_tab_btn">Tab 3</button>
                  </div>
                  <div class="tab_content_wrap">
                    <div class="tab_content">
                      <p>Tab 1 내용</p>
                    </div>
                    <div class="tab_content">
                      <p>Tab 2 내용</p>
                    </div>
                    <div class="tab_content">
                      <div class="wv_tab" data-default="1">
                        <div class="tab_btn_wrap">
                          <button type="button" class="wv_tab_btn">Sub Tab 1</button>
                          <button type="button" class="wv_tab_btn">Sub Tab 2</button>
                          <button type="button" class="wv_tab_btn">Sub Tab 3</button>
                        </div>
                        <div class="tab_content_wrap">
                          <div class="tab_content">
                            <p>Sub Tab 1 내용</p>
                          </div>
                          <div class="tab_content">
                            <p>Sub Tab 2 내용</p>
                          </div>
                          <div class="tab_content">
                            <p>Sub Tab 3 내용</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </section>
        </div>

      </div>
    </div>
  </main>
  <footer class="pf_ft">
    <button class="scroll_btn scr_btn" data-scr="up">
      <span>Top</span>
    </button>
    <p class="fs_14 fw_semibold">wevercns ⓒ 2024</p>
  </footer>

</div>

<script type="module" src="../../assets/js/guide/guide.js"></script>
<script type="module" src="../../assets/js/wv_compo.js"></script>
<script type="module" src="../../assets/js/animation.js"></script>
</body>
</html>