@import "../../absctracts/mixin";
@import "./pko_ico";
@import "./pko_variables";


:root{
 --inner_base_mw: 1400px;
 --inner_sm_mw: 1280px;
}
.inner2{
  width: calc(100% - 15.5rem);
  max-width: 1000px;
  margin: 0 auto;
}
.wv_search input{
  background-color: transparent;
}
#wv_cont{
  padding-bottom: rem(200px);
  &.publication{
    padding-bottom: 0;
  }
}
#wv_hd{
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  width: 100%;
  height: rem(90px);
  background-color: var(--white1);
  border-bottom: 1px solid var(--white3);

  .logo{
    display: flex;
    align-items: center;
    width: rem(164px);
  }

  .gnb {
    height: 100%;
    ul{
      display: flex;
      align-items: center;
      gap: rem(80px);
      height: 100%;

      a.on{
        font-weight: 600;
        color: #2E3874;
      }
    }
  }
}

#wv_ft{
  height: rem(152px) !important;
  border-top: 1px solid #E9E9E9;
  //margin-top: 200px;

  h1{
    display: flex;
    align-items: center;
    width: rem(164px);
  }

  &.fp-auto-height > div {
    height: 100% !important;
  }
  .social a{
    opacity: 0.7;
  }
  .ft_cont p{
    opacity: 0.3;
  }
}


.pko_fullpage .section{
  position: relative;
  .bg{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .txt_box{
    h2{
      font-size: rem(44px);
      font-weight: 400;
      line-height: 120%;
    }
    h3{
      margin-top: rem(10px);
      font-size: rem(72px);
      font-weight: 800;
      line-height: 120%;
    }
    a{
      position: relative;
      width: max-content;
      padding: rem(18px) rem(64px) rem(18px) rem(50px);
      border-radius: rem(30px);
      background-color: #2E3874;

      i{
        position: absolute;
        top: 50%; right: rem(32px);
        transform: translateY(-50%);
      }
    }
    &.st2{
      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
    }
    &.st3{
      position: absolute;
      right: 0; top: 50%;
      transform: translateY(-50%);
    }
  }
  &:nth-child(1){
    padding-top:  rem(270px);
    padding-bottom: rem(300px);
    .txt_box{padding-top: rem(145px);}
    img{
      margin-bottom: 300px;
    }
  }
  &:nth-child(4){
    padding-top:  rem(300px);
    padding-bottom: rem(300px);
    .txt_box{padding-top: rem(90px);}
  }
}


.filter_btn_wrap{
  display: flex;
  justify-content: center;
  height: rem(56px);
  margin: auto;
  padding: rem(8px);
  background-color: #F5F5F5;
  border-radius: rem(32px);

  .filter_btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(40px);
    color: rgba(0,0,0,0.6);
    transition: background-color 0.2s ease-in-out,
                        color 0.2s ease-in-out;
    &.active{
      background-color: #2E3874;
      color: #fff;
    }
  }
}

.wv_search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 620px;
  height: rem(48px);
  margin: 0 auto;
  padding: 0 rem(30px);
  border-radius: rem(28px);
  border: 1px solid #CBCBCB;

  input{
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: rem(16px);
    &::placeholder{
      color: rgba(0,0,0,0.3);
    }

    ~ .wv_search_btn i{
      color: #929292;
    }
  }
}

.layout_chg_wrap{
  display: flex;
  justify-content: flex-end;
  margin-top: rem(18px);
  margin-bottom: rem(6px);

  button{
    color: #CBCBCB;

    &.active{color: #2E3874}
  }
}
.board_wrap .board_list{
  border-top: 2px solid #000;

  &.st2{
    li a{padding: rem(20px) 0;}
    li .tit{width: calc(100% - rem(490px));}
    li .tag{width: rem(106px);}
    li .txt{gap: rem(20px)}
    li .txt .date{min-width: rem(100px);}
    li .txt .date + p{
      display: block;
      min-width: rem(200px);
      text-align: center;

      &::before{display: none;}
    }

    &.grid{
      li .tit{width: 100%;}
      li .tag{
        width: max-content;
        padding: rem(6px) rem(15px);
        margin-top: rem(30px)
      }
      li .txt{gap: 0;}
      li .txt .date{min-width: max-content;}
      li .txt .date + p{min-width: max-content;}
      li .txt .date + p::before{display: inline-block;}
    }
  }

  li{
    border-bottom: 1px solid #E9E9E9;
  
    img{
      display: none;
      transition: transform 0.3s ease-in-out;
    }
    a{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: rem(20px);

      .img_box{
        overflow: hidden;
      }
      &:hover img{
        transform: scale(1.1);
      }
    }

    .tag{
      width: rem(80px); height: rem(30px);
      border: 1px solid #000;
      border-radius: rem(18px);
      margin-right: rem(30px);
    }

    .tit{
      width: calc(100% - rem(220px));
      -webkit-line-clamp: 1;
    }

    .txt{
      opacity: 0.6;
      margin-left: auto;
      .date{
        position: relative;
      }
      .date + p{display: none;}
      .date + p::before{
        content: "|";
        font-size: rem(16px);
        font-weight: 400;
        line-height: 120%;
        padding: 0 6px;
      }
    }
  }

  &.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(40px);
    row-gap: rem(60px);
    border: none;

    li{
      border: none;
      a{
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
      }
      img{
        display: block;
        width: 100%;
      }
      .tag{
        margin-top: rem(30px);
      }
      .tit{
        width: 100%;
        margin-top: rem(10px);
        -webkit-line-clamp: 2;
      }
      .txt{
        margin-left: 0;
        margin-top: rem(20px);

        .date + p{
          display: block;
        }
      }
    }
  }

}

.wv_pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(14px);

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
    font-size: rem(16px);

    i{
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      font-size: rem(30px);
      opacity: 0.5;
    }
    &.disabled i{
      opacity: 0.15;
    }
    &:nth-child(1),
    &:nth-child(2){
      transform: rotate(180deg);
    }
    &.active{
      font-weight:500;
      border-bottom: 2px solid #000;
    }
  }

  &.st2 div span:not(:first-child){
    opacity: .4;
  }
}

.back_link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(60px);
  height:  rem(60px);
  border: 1px solid #E9E9E9;
  border-radius: 50%;
}
.view_data > span{
  color: #D3D3D3;
  color: #666666;
}
.view_data > span:not(:last-of-type)::after{
  display: inline-block;
  content: "";
  width: 1px;
  height: rem(15px);
  background-color: #d3d3d3;
  margin: 0 rem(8px);
}
.content_head > .inner2{
  border-bottom:1px solid  #000;
}

.download_wrap{
  display: flex;
  flex-direction: column;
  gap: rem(20px);
  border: 1px solid #E9E9E9;
  padding: rem(30px);

  a{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-right: rem(40px);
  }
  i{
    color: #aaa;
    &:last-child{
      position: absolute;
      right: 0; top: 50%;
      transform: translateY(-50%);
    }
  }
}

.like_btn{
  position: relative;
  width: rem(52px);
  height: rem(52px);
  border-radius: 50%;
  border: 1px solid #E9E9E9;
  background-color: #fff;

  i{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
    &+i{
      opacity: 0;
    }
  }
  &.on{
    i+i{opacity: 1;}
  }
}

.share_btn_wrap{
  position: relative;

  .share_btn{
    position: relative;
    z-index: 10;
    width: rem(52px);
    height: rem(52px);
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    background-color: #fff;
    i{
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  ul{
    display: flex;
    justify-content: space-between;
    gap: rem(10px);
    position: absolute;
    top: 0;
    width: rem(238px);
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    button{
      position: absolute;
      width: rem(52px);
      height: rem(52px);
      border-radius: 50%;
      transition: left 0.3s ease-in-out;
    }
    .kakaotalk_share{background-color: #FAE100; left: 0; z-index: 5;}
    .facebook_share{background-color: #1877F2; color: #fff; left: 0; z-index: 4;}
    .twitter_share{background-color: #000000; color: #fff; left: 0; z-index: 3;}
    .link_share{background-color: #E9E9E9; color: #929292; left: 0; z-index: 2;}


    &.on{
      opacity: 1;
      .kakaotalk_share{left: rem(62px)}
      .facebook_share{left: rem(124px)}
      .twitter_share{left: rem(186px)}
      .link_share{left: rem(248px)}
    }
  }
}

.content_foot > div{
  border-top: 1px solid var(--white3);

  .back_btn{
    width: rem(170px);
    height: rem(60px);
    border-radius: rem(30px);
    background-color: #2E3874;
  }
}





.cont_hd.shadow{
  position: relative;
  z-index: 10;
  box-shadow: 0px 10px 40px 0px rgba(7, 14, 36, 0.15);

  &.list{
    box-shadow: 0px 10px 20px 0px rgba(7, 14, 36, 0.03);
  }
  .layout_chg_wrap{
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    height: rem(60px);
    margin-top: 0;
    margin-bottom: rem(20px);
    z-index: 10;
  }
}
.category_btn_wrap{
  display: flex;
  justify-content: space-between;
  align-items:  center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  max-width: 840px;
  width: 1280px;
  margin: 0 auto;

  &>div{
    position: relative;
    span{
      position: absolute;
      opacity: .4;
    }
    &:first-child span{left: rem(82px);}
    &:last-child span{right: rem(82px);}
  }

  .next_btn{transform: rotate(180deg);}
  .prev_btn,
  .next_btn{
    width: rem(60px);
    height: rem(60px);
    border-radius: 50%;
    border: 1px solid var(--white3);

    &[disabled]{
      cursor: auto;
      i{opacity: 0.15}
    }
  }

  .category{
    width: rem(142px);
    height: rem(40px);
    border-radius: rem(32px);
    background-color: #2E3874;
  }
}
.cont_body{
  position: relative;
  z-index: 5;
  padding-bottom: rem(200px);

  .deco_box{
    display: none;
  }
  &.card{
    background-color: #EAECEF;
    padding-bottom: rem(100px);

    .deco_box{
      display: block;
      position: absolute;
      top: rem(260px);
      width: 100%;
      height: rem(102px);
      filter: drop-shadow(0px 10px 40px rgba(7, 14, 36, 0.15));
      &::before{
        display: block;
        content: "";
        width: 100%;
        height: rem(70px);
        background-color: #F2F2F4;
      }
      &::after{
        display: block;
        content: "";
        width: 100%;
        height: rem(32px);
        background-color: #FAFAFC;
      }
      &:nth-child(2){
        top: auto;
        bottom: rem(184px);
      }
    }
    .search_wrap{
      display: none;
    }
  }

  .board_wrap{
    position: relative;
    padding-top: rem(84px);

    &.st2 .board_list.list{
      margin-top: rem(60px);
    }
  }

  .board_wrap .board_list{
    &.card{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: rem(150px);
      grid-column-gap: rem(80px);
      align-items: flex-end;
      border: none;
      max-width: 1020px;
      margin: 0 auto 130px;
      li{box-shadow: 0px 5px 20px 0px rgba(7, 14, 36, 0.15);}
      a{padding: 0; min-height: auto;}
      h3, .txt{
        display: none;
      }
    }
    &.list li a img{
      width: rem(52px);
      margin-right: 34px;
    }
    li{
      a{
        padding: 10px 0;
        min-height: rem(72px);
      }
      img{
        display: block;
      }
    }
  }
  
}


.reference_swiper_btn_wrap{
  position: relative;
  width: 138px;
  margin: rem(40px) auto 0;
  height: rem(24px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  .swiper-button-next,
  .swiper-button-prev{
    position: static;
    margin: 0;
    height: 20px;
    width: 20px;
  }
  .swiper-button-next:after{
    font-family: 'wv_pko_ico';
    content: "\e90f";
    font-size: 40px;
  }
  .swiper-button-prev:after{
    font-family: 'wv_pko_ico';
    content: "\e90f";
    transform: rotate(180deg);
  }
}
.swiper-pagination-fraction{
  top: 56%;
  transform: translateY(-50%);
  height: 100%;
  font-weight: 400;
}
.swiper-pagination-current{
  font-weight: 600;
  opacity: 1;
}