{%- extends "_templates/_layout.njk" -%}
{%- import "_templates/_macro/_macro.njk" as macro -%}

{% block plugin %}
    <script src="../../assets/plugins/jquery.min.js"></script>
    <script src="../../assets/plugins/gsap.min.js"></script>
    <script src="../../assets/plugins/ScrollTrigger.min.js"></script>
{%- endblock %}

{% block css %}
    <link href="../../assets/css/wv.min.css" rel="stylesheet" />
    <link href="../../assets/css/guide.min.css" rel="stylesheet" />
{%- endblock %}

{% block js %}
    <script src="../../assets/js/font.js"></script>
    <script src="../../assets/js/common.min.js"></script>
    <script src="../../assets/js/wv_compo.min.js"></script>
{%- endblock %}

{% block content %}
    <main class="main">
        {{ include( "_templates/_includes/_sidebarComponent2.njk" ) | tabIndent(1) }}

        <section class="sec_component">
            <div class="inner_base ">
                <div class="content">

                    <h2 class="pt_60 fs_24">Default Tab</h2>
                    <p class="fs_16 mt_10">
                        탭 컴포넌트는 여러 개의 탭을 가지고 있고, 각 탭을 클릭하면 해당 탭에 맞는 내용이 표시되는 컴포넌트입니다.
                    </p>

                    <div class="mt_40">
                        <div class="wv_tab">
                            <div class="wv_tab_menu">
                                <button type="button" class="wv_tab_btn active">Tab 1</button>
                                <button type="button" class="wv_tab_btn">Tab 2</button>
                                <button type="button" class="wv_tab_btn">Tab 3</button>
                            </div>
                            <div class="wv_tab_content">
                                <div class="wv_tab_panel">Content for Tab 1</div>
                                <div class="wv_tab_panel">Content for Tab 2</div>
                                <div class="wv_tab_panel">Content for Tab 3</div>
                            </div>
                        </div>
                        <div class="code_block mt_20">
                            <div class="wv_tab">
                                <div class="wv_tab_menu">
                                    <button type="button" class="wv_tab_btn active">HTML</button>
                                    <button type="button" class="wv_tab_btn">JS</button>
                                </div>
                                <div class="wv_tab_content">
                                    <div class="wv_tab_panel">
                                        <button class="wv_copy_btn" data-target="copy1">COPY</button>
                                        <pre><code class="html" id="copy1"><textarea>
<div class="wv_tab">
    <div class="wv_tab_menu">
        <button type="button" class="wv_tab_btn active">Tab 1</button>
        <button type="button" class="wv_tab_btn">Tab 2</button>
        <button type="button" class="wv_tab_btn">Tab 3</button>
    </div>
    <div class="wv_tab_content">
        <div class="wv_tab_panel">Content for Tab 1</div>
        <div class="wv_tab_panel">Content for Tab 2</div>
        <div class="wv_tab_panel">Content for Tab 3</div>
    </div>
</div></textarea>
</code></pre>
                                    </div>
                                    <div class="wv_tab_panel">
                                        <button class="wv_copy_btn" data-target="copy2">COPY</button>
                                        <pre><code class="js" id="copy2"><textarea>
  const tabs = $(".wv_tab");

  tabs.each(function () {
    const tab = $(this); // 현재 탭 컨테이너
    const tabBtn = tab.find(".wv_tab_btn");
    const tabPanel = tab.find(".wv_tab_panel");

    // 탭 클릭
    tabBtn.on("click", function () {
      const idx = $(this).index(); // 현재 컨텍스트 내에서의 인덱스 계산
      const th = $(this);

      // 탭 버튼 활성화 상태 변경
      th.siblings(".wv_tab_btn").removeClass("active");
      th.addClass("active");

      // 탭 패널 활성화 상태 변경
      th.closest(".wv_tab").find(" > .wv_tab_content > .wv_tab_panel").removeClass("active");
      th.closest(".wv_tab").find(" > .wv_tab_content > .wv_tab_panel").eq(idx).addClass("active");
    });

    // 초기화: 활성화된 탭 찾기
    const activeTabBtn = tabBtn.filter(".active");
    const activeIdx = tabBtn.index(activeTabBtn);
    tabPanel.removeClass("active");
    tabPanel.eq(activeIdx).addClass("active");
  });</textarea>
</code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="pt_100 fs_24">Tab in Tab</h2>
                    <p class="fs_16 mt_10">탭 안에 중첩된 탭을 사용할 수 있습니다.</p>
                    <div class="mt_40">
                        <div class="wv_tab">
                            <div class="wv_tab_menu">
                                <button class="wv_tab_btn active">Tab 1</button>
                                <button class="wv_tab_btn">Tab 2</button>
                            </div>
                            <div class="wv_tab_content">
                                <div class="wv_tab_panel active">
                                    <p>Content for Tab 1</p>
                                    <!-- 중첩된 탭 -->
                                    <div class="wv_tab mt_40">
                                        <div class="wv_tab_menu">
                                            <button class="wv_tab_btn active">Sub Tab 1</button>
                                            <button class="wv_tab_btn">Sub Tab 2</button>
                                        </div>
                                        <div class="wv_tab_content">
                                            <div class="wv_tab_panel active">Sub Content for Tab 1</div>
                                            <div class="wv_tab_panel">Sub Content for Tab 2</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wv_tab_panel">Content for Tab 2</div>
                            </div>
                        </div>
                    </div>

                    <h2 class="pt_100 fs_24">Tab Scroll</h2>
                    <p class="fs_16 mt_10 lih150per">
                        탭이 많을 경우 스크롤이 가능합니다. <br>
                        .wv_tab_menu에 scrollbar_custom 클래스를 추가한 후 <br>
                        .scr에 스크롤이 가능한 버튼을 넣어주세요.
                    </p>
                    <div class="mt_40" style="width: 500px;">
                        <div class="wv_tab">
                            <div class="wv_tab_menu scrollbar_custom">
                                <div class="scr">
                                    <button type="button" class="wv_tab_btn active">Tab1</button>
                                    <button type="button" class="wv_tab_btn">Tab2</button>
                                    <button type="button" class="wv_tab_btn">Tab3</button>
                                    <button type="button" class="wv_tab_btn">Tab4</button>
                                    <button type="button" class="wv_tab_btn">Tab5</button>
                                    <button type="button" class="wv_tab_btn">Tab6</button>
                                    <button type="button" class="wv_tab_btn">Tab7</button>
                                    <button type="button" class="wv_tab_btn">Tab8</button>
                                </div>
                            </div>
                            <div class="wv_tab_content">
                                <div class="wv_tab_panel active">
                                    <p>Content for Tab 1</p>
                                </div>
                                <div class="wv_tab_panel">
                                    <p>Content for Tab 2</p>
                                </div>
                                <div class="wv_tab_panel">
                                    <p>Content for Tab 3</p>
                                </div>
                                <div class="wv_tab_panel">
                                    <p>Content for Tab 4</p>
                                </div>
                                <div class="wv_tab_panel">
                                    <p>Content for Tab 5</p>
                                </div>
                                <div class="wv_tab_panel">
                                    <p>Content for Tab 6</p>
                                </div>
                                <div class="wv_tab_panel">
                                    <p>Content for Tab 7</p>
                                </div>
                                <div class="wv_tab_panel">
                                    <p>Content for Tab 8</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="code_block mt_20">
                        <div class="wv_tab">
                            <div class="wv_tab_menu">
                                <button type="button" class="wv_tab_btn active">HTML</button>
                            </div>
                            <div class="wv_tab_content">
                                <div class="wv_tab_panel">
                                    <button class="wv_copy_btn" data-target="copy3">COPY</button>
<pre><code class="html" id="copy3"><textarea>
<div class="wv_tab">
    <div class="wv_tab_menu scrollbar_custom">
        <div class="scr">
            <button type="button" class="wv_tab_btn active">Tab1</button>
            <button type="button" class="wv_tab_btn">Tab2</button>
            <button type="button" class="wv_tab_btn">Tab3</button>
            <button type="button" class="wv_tab_btn">Tab4</button>
            <button type="button" class="wv_tab_btn">Tab5</button>
            <button type="button" class="wv_tab_btn">Tab6</button>
            <button type="button" class="wv_tab_btn">Tab7</button>
            <button type="button" class="wv_tab_btn">Tab8</button>
        </div>
    </div>
    <div class="wv_tab_content">
        <div class="wv_tab_panel active">
            <p>Content for Tab 1</p>
        </div>
        <div class="wv_tab_panel">
            <p>Content for Tab 2</p>
        </div>
        <div class="wv_tab_panel">
            <p>Content for Tab 3</p>
        </div>
        <div class="wv_tab_panel">
            <p>Content for Tab 4</p>
        </div>
        <div class="wv_tab_panel">
            <p>Content for Tab 5</p>
        </div>
        <div class="wv_tab_panel">
            <p>Content for Tab 6</p>
        </div>
        <div class="wv_tab_panel">
            <p>Content for Tab 7</p>
        </div>
        <div class="wv_tab_panel">
            <p>Content for Tab 8</p>
        </div>
    </div>
</div></textarea>
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wv_modal" id="copySuccessModal">
                        <div class="wv_modal_content">
                            <p>Copied to clipboard!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{%- endblock %}