<aside>
    <div class="">
        <ul>
            {%- for component in component_data %}
                <li class="fs_14">
                    <a href="{{ component.href }}">{{ component.name }}</a>
                </li>
            {%- endfor %}
        </ul>
    </div>
</aside>