{% set depth %}{{ 'depth2' }}{% endset %}
{%- extends "_templates/_layout.njk" -%}
{%- import "_templates/_macro/_macro.njk" as macro -%}


{% block css %}
    <link href="../assets/css/wv.min.css" rel="stylesheet" />
    <link href="../assets/css/guide.min.css" rel="stylesheet" />
{%- endblock %}

{% block content %}
    {{ include( "_templates/_includes/_header.njk" ) | tabIndent(1) }}
    <main class="main">
        <section class="sec_component pt_100">
            <div class="inner_base">
                <h2 class="fs_32 mb_10">Download</h2>

                <div class="mt_60 download_wrap">
                    <a href="./wv_v1.0.0.zip" download>V1.0.0 Download</a>
                </div>
            </div>
        </section>
    </main>
{%- endblock %}