{%- extends "_templates/_layout.njk" -%}

{% block css %}
    <link href="./assets/css/wv.min.css" rel="stylesheet" />
    <link href="./assets/css/guide.min.css" rel="stylesheet" />
{%- endblock %}

{% block content %}
  <main class="main">
    <section>
        <div class="container">
            MAIN PAGE
        </div>
    </section>
  </main>
{%- endblock %}