{% set depth %}{{ 'depth1' }}{% endset %}
{%- extends "_templates/_layout.njk" -%}

{% block plugin %}
    <script src="../../assets/plugins/jquery.min.js"></script>
    <script src="../../assets/plugins/gsap.min.js"></script>
    <script src="../../assets/plugins/ScrollTrigger.min.js"></script>
    <script src="../../assets/plugins/ScrollMagic.min.js"></script>
{%- endblock %}

{% block css %}
    <link href="./assets/css/wv.min.css" rel="stylesheet"/>
    <link href="./assets/css/guide.min.css" rel="stylesheet"/>
{%- endblock %}

{% block js %}
    <script src="./assets/js/project-config.js" type="module"></script>
    <script src="./assets/js/common.js" type="module"></script>
    <script src="./assets/js/wv_compo.js" type="module"></script>
    <script src="./assets/js/wv_animation.js" type="module"></script>
{%- endblock %}

{% block content %}
    {{ include( "_templates/_includes/_header.njk" ) | tabIndent(1) }}
    <main class="main">
        <section>
            <div class="container">
                MAIN PAGE
            </div>
        </section>
    </main>
{%- endblock %}