<aside>
    <div class="">
        <ul>
            {%- for docs in docs_data %}
                <li class="fs_14">
                    <a href="{{ docs.href }}">{{ docs.name }}</a>
                </li>
            {%- endfor %}
        </ul>
    </div>
</aside>