<aside>
    <div>
        <a href="./pages/docs/doc.html">Docs</a>
    </div>

    <div class="tab_content">
        <ul>
            <li>
                <p>Fonts</p>
                <a href="/pages/docs/font.html">Font size</a>
                <a href="/pages/docs/font.html">Font weight</a>
                <a href="/pages/docs/font.html">Align</a>
                <a href="/pages/docs/font.html">Line height</a>
                <a href="/pages/docs/font.html">Text over</a>
            </li>
            <li>
                <p>Flexbox & Grid</p>
                <a href="/pages/docs/display.html">Flex</a>
                <a href="/pages/docs/display.html">Grid</a>
            </li>
            <li>
                <p>Interval</p>
                <a href="/pages/docs/interval.html">Margin & Padding</a>
            </li>
            <li>
                <p>Layout</p>
                <a href="/pages/docs/layout.html">Aspect Ratio</a>
                <a href="/pages/docs/layout.html">Z-index</a>
                <a href="/pages/docs/layout.html">Object Fit</a>
            </li>
        </ul>
    </div>
</aside>