{%- extends "_templates/_layout.njk" -%}
{%- import "_templates/_macro/_macro.njk" as macro -%}

{% block content %}
    <main class="main">
        {{ include( "_templates/_includes/_sidebarDocs.njk" ) | tabIndent(1) }}

        <section class="sec_component pt_100">
            <div class="inner_base">
                <h2 class="fs_32 mb_10">CSS Docs</h2>
                <p class="fs_16 fw_regular lih150per mb_40">

                </p>
            </div>
        </section>
    </main>
{%- endblock %}