{%- extends "_templates/_layout.njk" -%}
{%- import "_templates/_macro/_macro.njk" as macro -%}

{% block content %}
    <main class="main">
        <section>
            <div class="container">
                DOWNLOAD PAGE
            </div>
        </section>
    </main>
{%- endblock %}